.imgBox{
    max-width: 400px;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%, 100% {
        transform: translateY(50px);
    }
    50% {
        transform: translateY(100px);
    }
}

@media (max-width: 992px) {
    .imgBox{
        margin-bottom: 50px;
    }

    @keyframes animate{
        0%, 100% {
            transform: translateY(-20px);
        }
        50% {
            transform: translateY(20px);
        }
    }
}