@media (max-width: 1200px) {
    .container{
        position: relative;
        width: calc(100% - 20px);
    }
}

@media (max-width: 992px) {
    
    section{
        padding: 50px 10px 10px;
    }
    .container{
        flex-direction: column;
        height: auto;
        padding: 20px;
    }
    /* .container .content{
        transform: translateX(00px);
    max-width: 100%;
    } */
}