.content{
    transform: translateX(-100px);
    max-width: 700px;
    box-shadow: 0 15px 30px rgba(0, 0,0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, .25);
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-left: 1px solid rgba(255, 255, 255, .5);
    padding: 40px;
    padding-left: 110px;
}

.content h2{
    font-size: 3em;
    color: #8a2435;
}

.content p{
    font-size: 1.2em;
    color: #8a2435;
}

.content a{
    display: inline-block;
    padding: 15px 30px;
    background: #fff;
    color: #8a2435;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.1)
}